#regForm{
    width: 25%;
    margin-left: 500px;
}
.forms{background-image: url(https://play-lh.googleusercontent.com/Ip_LzDVSk0AuWeJqJJC6qmcH9jl31FIdfsvl3AcG-lxJNu0R0nqyhTZF1-9izOvEdQ=w526-h296-rw) ;
background-repeat: no-repeat;
background-size: cover;

}
.form2{

    box-sizing: border-box;
}

